[Unit]
Description = gton node
After = network.target

[Service]
Type = simple
Restart = always
RestartSec = 30
ExecStart = {{ bin_path }}/gton-node --config {{ etc_path }}/config.json --log-file {{ log_file }} --verbosity {{ log_level }}
ExecStopPost = /bin/echo service down
User = {{ service_user }}
Group = {{ service_user }}
LimitNOFILE = infinity
LimitNPROC = infinity
LimitMEMLOCK = infinity

[Install]
WantedBy = multi-user.target
